<link rel="stylesheet" href="@components/layout/popup/popup.scss">
<div data-fls-popup="popup" aria-hidden="true" class="popup">
	<div data-fls-popup-wrapper class="popup__wrapper">
		<div data-fls-popup-body class="popup__body">
			<button data-fls-popup-close type="button" class="popup__close popup__close--icon-cancel"></button>
			<div data-fls-popup-content class="popup__forhead forhead-popup">
				<div class="forhead-popup__logo"><img src="@img/logo-black.svg" alt="Logo"></div>
				<div data-fls-headblock class="forhead-popup__headblock headblock">
					<h2 class="headblock__title --title">Get access first</h2>
					<div class="headblock__description --description">
						<p>
							We’re getting ready to launch Satex. Leave your email and we’ll notify you as soon as it’s live.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>