body::after {
	content: "";
	backdrop-filter: blur(10px);
	background-color: rgba(17, 17, 17, 0.2);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
[data-fls-popup-open] body::after {
	opacity: 1;
}
[data-fls-popup] {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	&[data-fls-popup-active] {
		z-index: 150;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;
	}
	@media (width < toEm($mobile)) {
		top: auto;
		padding: 0;
	}
}
[data-fls-popup-active] [data-fls-popup-body] {
	visibility: visible;
	transform: scale(1);
}
[data-fls-popup-wrapper] {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
[data-fls-popup-body] {
	visibility: hidden;
	transform: scale(0);
	transition:
		transform 0.3s ease 0s,
		visibility 0.3s ease 0s;
	background-color: var(--gray-color);
	width: 100%;
	padding: 32px;
	max-width: 857px;
	border-radius: 60px;
	@media (width < toEm($mobile)) {
		padding: 32px 24px;
		border-radius: 50px 50px 0 0;
	}
}

[data-fls-popup-close] {
	top: 26px;
	width: 40px;
	right: 26px;
	display: flex;
	font-size: 13px;
	padding-top: 1px;
	padding-left: 1px;
	border-radius: 50%;
	position: absolute;
	align-items: center;
	aspect-ratio: 1 / 1;
	justify-content: center;
	background-color: #fff;
	transition:
		color 0.5s ease,
		background-color 0.5s ease;
	html:not([data-fls-touch]) & {
		@media (any-hover: hover), (pointer: fine) {
			&:hover {
				color: #fff;
				background-color: var(--primary-color);
			}
		}
	}
}

[data-fls-popup-youtube-place] iframe {
	width: 100%;
	aspect-ratio: 16 / 9;
}

.popup {
	// .popup__forhead
	&__forhead {
	}
}
.forhead-popup {
	text-align: center;
	// .forhead-popup__logo
	&__logo {
		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}
	// .forhead-popup__headblock
	&__headblock {
		margin: 0 auto;
		max-width: 418px;
		.headblock__title.--title {
			@include adaptiveValue("font-size", 50, 38);
		}
		.headblock__description.--description {
			@include adaptiveValue("font-size", 16, 14);
		}
	}
}
