<section data-fls-review class="review">
	<div class="review__container">
		<div class="review__header header-review">
			<div data-fls-headblock class="header-review__headblock headblock">
				<h2 class="headblock__title --title">Trusted by our clients</h2>
				<div class="headblock__description --description">
					<p>
						What our clients say after getting back to feeling like themselves
					</p>
				</div>
			</div>
			<div class="header-review__block block-review">
				<div class="block-review__forhead">
					<div class="block-review__content">
						<span>4,9</span>
						<svg class="block-review__star" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M21.1097 2.52731L24.2774 8.73753C24.7093 9.60202 25.8612 10.4312 26.8331 10.59L32.5745 11.5251C36.2461 12.1249 37.11 14.736 34.4643 17.3119L30.0008 21.6872C29.2448 22.4282 28.8309 23.8573 29.0649 24.8806L30.3427 30.2969C31.3506 34.584 29.0289 36.2425 25.1593 34.0018L19.7779 30.8791C18.806 30.3145 17.2042 30.3145 16.2143 30.8791L10.8329 34.0018C6.98131 36.2425 4.64157 34.5664 5.64945 30.2969L6.92731 24.8806C7.16129 23.8573 6.74733 22.4282 5.99142 21.6872L1.52791 17.3119C-1.0998 14.736 -0.253893 12.1249 3.4177 11.5251L9.15907 10.59C10.113 10.4312 11.2648 9.60202 11.6968 8.73753L14.8644 2.52731C16.5922 -0.842437 19.3999 -0.842437 21.1097 2.52731Z" fill="url(#paint0_linear_2_3230)" />
							<defs>
								<linearGradient id="paint0_linear_2_3230" x1="18.4588" y1="1.00639" x2="18.4588" y2="31.5" gradientUnits="userSpaceOnUse">
									<stop offset="0.293884" stop-color="white" />
									<stop offset="0.825979" stop-color="white" stop-opacity="0.8" />
								</linearGradient>
							</defs>
						</svg>
					</div>
					<svg class="block-review__arrow" viewBox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g opacity="0.8">
							<path d="M19.5405 1.70361L29.4442 11.6073L19.5405 21.511" stroke="white" stroke-width="3.40736" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
							<path d="M1.70374 11.6055L29.1632 11.6055" stroke="white" stroke-width="3.40736" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
						</g>
					</svg>
				</div>
				<div class="block-review__label">reviews</div>
			</div>
		</div>
		<div class="review__body body-review">
			<div class="body-review__content">
			<div data-fls-marquee data-fls-marquee-direction="bottom" class="body-review__marquee">
				<div class="body-review__item item-marquee">
					<div data-fls-rating="set" data-fls-rating-value="5" class="item-marquee__rating rating"></div>
					<div class="item-marquee__text">
						<p>
							Ordered it straight from home — didn’t even have to step outside. The nurse arrived faster than I expected and handled everything smoothly. Within an hour I felt a real boost of energy. Super convenient.
						</p>
					</div>
					<div class="item-marquee__author">
						<div class="item-marquee__author-image">
							<img src="@img/avatar/01.jpg" alt="Avatar">
						</div>
						<div class="item-marquee__author-name">
							<span>Hazel McMillan</span>
							<span>Energy Boost</span>
						</div>
					</div>
				</div>
				<div class="body-review__item item-marquee">
					<div data-fls-rating="set" data-fls-rating-value="5" class="item-marquee__rating rating"></div>
					<div class="item-marquee__text">
						<p>
							I loved that I didn’t have to drive anywhere or sit in a waiting room. They arrived right on time, everything was clean and professional. My skin looked fresher afterward, and I saved so much time.
						</p>
					</div>
					<div class="item-marquee__author">
						<div class="item-marquee__author-image">
							<img src="@img/avatar/02.jpg" alt="Avatar">
						</div>
						<div class="item-marquee__author-name">
							<span>Sophia Hayes</span>
							<span>Beauty & Glow</span>
						</div>
					</div>
				</div>
				<div class="body-review__item item-marquee">
					<div data-fls-rating="set" data-fls-rating-value="5" class="item-marquee__rating rating"></div>
					<div class="item-marquee__text">
						<p>
							Felt a cold coming on and decided to try the immune drip. The next day I already felt much better, the fever was gone. Loved that I didn’t have to go anywhere.
						</p>
					</div>
					<div class="item-marquee__author">
						<div class="item-marquee__author-image">
							<img src="@img/avatar/01.jpg" alt="Avatar">
						</div>
						<div class="item-marquee__author-name">
							<span>Owen Mitchell</span>
							<span>Immune Defense</span>
						</div>
					</div>
				</div>
			</div>
			<div data-fls-marquee data-fls-marquee-direction="top" class="body-review__marquee">
				<div class="body-review__item item-marquee">
					<div data-fls-rating="set" data-fls-rating-value="5" class="item-marquee__rating rating"></div>
					<div class="item-marquee__text">
						<p>
							Ordered it straight from home — didn’t even have to step outside. The nurse arrived faster than I expected and handled everything smoothly. Within an hour I felt a real boost of energy. Super convenient.
						</p>
					</div>
					<div class="item-marquee__author">
						<div class="item-marquee__author-image">
							<img src="@img/avatar/01.jpg" alt="Avatar">
						</div>
						<div class="item-marquee__author-name">
							<span>Hazel McMillan</span>
							<span>Energy Boost</span>
						</div>
					</div>
				</div>
				<div class="body-review__item item-marquee">
					<div data-fls-rating="set" data-fls-rating-value="5" class="item-marquee__rating rating"></div>
					<div class="item-marquee__text">
						<p>
							I loved that I didn’t have to drive anywhere or sit in a waiting room. They arrived right on time, everything was clean and professional. My skin looked fresher afterward, and I saved so much time.
						</p>
					</div>
					<div class="item-marquee__author">
						<div class="item-marquee__author-image">
							<img src="@img/avatar/02.jpg" alt="Avatar">
						</div>
						<div class="item-marquee__author-name">
							<span>Sophia Hayes</span>
							<span>Beauty & Glow</span>
						</div>
					</div>
				</div>
				<div class="body-review__item item-marquee">
					<div data-fls-rating="set" data-fls-rating-value="5" class="item-marquee__rating rating"></div>
					<div class="item-marquee__text">
						<p>
							Felt a cold coming on and decided to try the immune drip. The next day I already felt much better, the fever was gone. Loved that I didn’t have to go anywhere.
						</p>
					</div>
					<div class="item-marquee__author">
						<div class="item-marquee__author-image">
							<img src="@img/avatar/01.jpg" alt="Avatar">
						</div>
						<div class="item-marquee__author-name">
							<span>Owen Mitchell</span>
							<span>Immune Defense</span>
						</div>
					</div>
				</div>
			</div>
			<div data-fls-marquee data-fls-marquee-direction="bottom" class="body-review__marquee">
				<div class="body-review__item item-marquee">
					<div data-fls-rating="set" data-fls-rating-value="5" class="item-marquee__rating rating"></div>
					<div class="item-marquee__text">
						<p>
							Ordered it straight from home — didn’t even have to step outside. The nurse arrived faster than I expected and handled everything smoothly. Within an hour I felt a real boost of energy. Super convenient.
						</p>
					</div>
					<div class="item-marquee__author">
						<div class="item-marquee__author-image">
							<img src="@img/avatar/01.jpg" alt="Avatar">
						</div>
						<div class="item-marquee__author-name">
							<span>Hazel McMillan</span>
							<span>Energy Boost</span>
						</div>
					</div>
				</div>
				<div class="body-review__item item-marquee">
					<div data-fls-rating="set" data-fls-rating-value="5" class="item-marquee__rating rating"></div>
					<div class="item-marquee__text">
						<p>
							I loved that I didn’t have to drive anywhere or sit in a waiting room. They arrived right on time, everything was clean and professional. My skin looked fresher afterward, and I saved so much time.
						</p>
					</div>
					<div class="item-marquee__author">
						<div class="item-marquee__author-image">
							<img src="@img/avatar/02.jpg" alt="Avatar">
						</div>
						<div class="item-marquee__author-name">
							<span>Sophia Hayes</span>
							<span>Beauty & Glow</span>
						</div>
					</div>
				</div>
				<div class="body-review__item item-marquee">
					<div data-fls-rating="set" data-fls-rating-value="5" class="item-marquee__rating rating"></div>
					<div class="item-marquee__text">
						<p>
							Felt a cold coming on and decided to try the immune drip. The next day I already felt much better, the fever was gone. Loved that I didn’t have to go anywhere.
						</p>
					</div>
					<div class="item-marquee__author">
						<div class="item-marquee__author-image">
							<img src="@img/avatar/01.jpg" alt="Avatar">
						</div>
						<div class="item-marquee__author-name">
							<span>Owen Mitchell</span>
							<span>Immune Defense</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div data-fls-watcher data-fls-watcher-once class="review__state state-review">
			<div class="state-review__item">
				<div data-fls-digcounter data-fls-digcounter-speed="2000" class="state-review__number">12,500</div>
				<div class="state-review__label">clients served</div>
			</div>
			<div class="state-review__item">
				<div data-fls-digcounter data-fls-digcounter-speed="2000" class="state-review__number">28,000</div>
				<div class="state-review__label">IV sessions delivered</div>
			</div>
			<div class="state-review__item">
				<div data-fls-digcounter data-fls-digcounter-speed="2000" class="state-review__number">98</div>
				<div class="state-review__label">client satisfaction</div>
			</div>
		</div>
	</div>
</section>