<section data-fls-hero class="hero">
	<div data-fls-watcher class="hero__container">
		<div class="hero__decore"></div>
		<div class="hero__heading">
			<div class="hero__tags">
				<span>Mobile IV service</span>
				<span>New York</span>
				<span>Florida</span>
			</div>
			<h1 class="hero__title">IV Drip. <br> At your door. <br> In 60 minutes.</h1>
			<div class="hero__text">
				<p>
					A certified physician arrives with professional equipment. No waiting rooms, no clinics.
				</p>
			</div>
			<button data-fls-popup-link="access-popup" data-fls-button type="button" class="hero__button button button--lg-white">Download the app</button>
		</div>
		<div class="hero__images">
			<div class="hero__circle"></div>
			<img class="hero__image-left" src="@img/hero/left.svg" alt="Image">
			<img class="hero__image-center" src="@img/hero/center.png" alt="Image">
			<img class="hero__image-right" src="@img/hero/right.svg" alt="Image">
		</div>
	</div>
	<div class="hero__panel"></div>
</section>