<section data-fls-hero class="hero">
	<div class="hero__container">
		<div class="hero__heading">
			<div class="hero__tags">
				<span>Mobile IV service</span>
				<span>New York</span>
				<span>Florida</span>
			</div>
			<h1 class="hero__title">IV Drip. At your door. In 60 minutes.</h1>
			<div class="hero__text">
				<p>
					A certified physician arrives with professional equipment. No waiting rooms, no clinics.
				</p>
			</div>
			<a data-fls-button href="#" class="button button--lg">Download the app</a>
		</div>
		<div class="hero__images">
			<img class="hero__image-left" src="@img/hero/left.svg" alt="Image">
			<img class="hero__image-center" src="@img/hero/center.png" alt="Image">
			<img class="hero__image-right" src="@img/hero/right.svg" alt="Image">
		</div>
	</div>
</section>