:root {
	/* Шрифт за замовчуванням */
	--font-family: "TikTok Sans", sans-serif;
	--font-family-secondary: "Fontspring", sans-serif;
	/* Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)  */
	--font-size: 18px;
	/* Основні кольори */
	--main-color: #111;
	--gray-color: #F5F5F5;
	--primary-color: #008ffb;
	/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
}