<section data-fls-steps class="steps">
	<div class="steps__container">
		<div class="steps__title steps__title--title">Three steps to feeling better</div>
		<div class="steps__body">
			<div class="steps__item item-steps">
				<div class="item-steps__content">
					<div class="item-steps__number">1</div>
					<div class="item-steps__title">Download the app</div>
					<div class="item-steps__description --description">
						<p>
							Available on App Store and Google Play. <br> Sign up in under a minute
						</p>
					</div>
				</div>
				<div class="item-steps__image">
					<img src="@img/steps/01.png" alt="Image">
				</div>
			</div>
			<div class="steps__item item-steps">
				<div class="item-steps__content">
					<div class="item-steps__number">2</div>
					<div class="item-steps__title">Choose your drip</div>
					<div class="item-steps__description --description">
						<p>
							Pick the right formula for your goals <br> — from recovery to immune support
						</p>
					</div>
				</div>
				<div class="item-steps__image">
					<img src="@img/steps/02.png" alt="Image">
				</div>
			</div>
			<div class="steps__item item-steps">
				<div class="item-steps__content">
					<div class="item-steps__number">3</div>
					<div class="item-steps__title">Dedicated person</div>
					<div class="item-steps__description --description">
						<p>
							A certified specialist arrives <br> at your home, office, or hotel.
						</p>
					</div>
				</div>
				<div class="item-steps__image">
					<img src="@img/steps/03.png" alt="Image">
				</div>
			</div>
		</div>
	</div>
</section>