.steps {
	@include adaptiveValue("padding-block", 150, 70);
	// .steps__title
	&__title {
		/* Animations */
		opacity: 0;
		transition:
			opacity 0.8s ease-in-out,
			transform 0.8s ease-in-out;
		transform: translateY(25px);
		&.--watcher-view {
			opacity: 1;
			transform: translateY(0);
		}
		/* ------------ */
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 44, 28);
		}
	}
	// .steps__body
	&__body {
		display: grid;
		align-items: start;
		@include adaptiveValue("gap", 16, 10, 0, $containerWidth, $mobile);
		@media (width >= toEm($mobileSmall)) {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
	}
}
.item-steps {
	opacity: 0;
	display: grid;
	transition:
		box-shadow 0.3s ease-in-out,
		opacity 1s ease-in-out 0.3s,
		transform 1s ease-in-out 0.3s;
	@include adaptiveValue("padding", 32, 16);
	&--01 {
		/* Animations */
		transform: translateX(-25px);
		.--watcher-view & {
			opacity: 1;
			transform: translateX(0);
		}
		/* ------------ */
		background: var(--gray-color) url("@img/steps/01.png") center bottom / auto auto no-repeat;
	}
	&--02 {
		/* Animations */
		transform: translateY(25px);
		.--watcher-view & {
			opacity: 1;
			transform: translateY(0);
		}
		/* ------------ */
		background: var(--gray-color) url("@img/steps/02.png") center bottom / auto auto no-repeat;
	}
	&--03 {
		/* Animations */
		transform: translateX(25px);
		.--watcher-view & {
			opacity: 1;
			transform: translateX(0);
		}
		/* ------------ */
		background: var(--gray-color) url("@img/steps/03.png") center bottom / auto auto no-repeat;
	}
	// .item-steps__content
	&__content {
		gap: 12px;
		z-index: 1;
		display: grid;
		position: relative;
		padding-bottom: 204px;
		span {
			display: flex;
			align-items: center;
			justify-content: center;

			color: #fff;
			font-size: 27px;
			font-weight: 600;

			width: 46px;
			height: 46px;
			border-radius: 29px;

			background-color: var(--primary-color);
		}
		h3 {
			font-weight: 600;
			line-height: 1.1;
			@include adaptiveValue("font-size", 32, 26);
		}
		p {
			color: #8a8a8a;
			line-height: 1.2;
			@include adaptiveValue("font-size", 18, 16);
		}
	}
}
