<section data-fls-steps class="steps">
	<div class="steps__container">
		<h2 class="steps__title steps__title--title">Three steps to feeling better</h2>
		<div class="steps__body">
			<div class="steps__item item-steps block item-steps--01">
				<div class="item-steps__content">
					<span>1</span>
					<h3>Download the app</h3>
					<p>Available on App Store and Google Play. <br> Sign up in under a minute</p>
				</div>
			</div>
			<div class="steps__item item-steps block item-steps--02">
				<div class="item-steps__content">
					<span>2</span>
					<h3>Choose your drip</h3>
					<p>Pick the right formula for your goals <br> — from recovery to immune support</p>
				</div>
			</div>
			<div class="steps__item item-steps block item-steps--03">
				<div class="item-steps__content">
					<span>3</span>
					<h3>Dedicated person</h3>
					<p>A certified specialist arrives <br> at your home, office, or hotel.</p>
				</div>
			</div>
		</div>
	</div>
</section>