<section data-fls-safety class="safety">
	<div class="safety__container">
		<h2 class="safety__title safety__title--title">Safety first</h2>
		<div class="safety__body">
			<div class="safety__item item-safety block item-safety--01">
				<div class="item-safety__content">
					<h3>Certified physicians</h3>
					<p>
						Only licensed medical professionals with valid certifications
					</p>
				</div>
			</div>
			<div class="safety__item item-safety block item-safety--02">
				<div class="item-safety__content">
					<h3>Arrival within 60 min</h3>
					<p>
						Available 24/7 around your area
					</p>
				</div>
			</div>
			<div class="safety__item item-safety block item-safety--03">
				<div class="item-safety__content">
					<h3>100% confidential</h3>
					<p>
						Your personal data and procedure history are fully protected
					</p>
				</div>
			</div>
			<div class="safety__item item-safety block item-safety--04">
				<div class="item-safety__content">
					<h3>Registered formulas</h3>
					<p>
						All formulas are registered and FDA-compliant
					</p>
				</div>
			</div>
		</div>
	</div>
</section>