<header data-fls-header data-fls-header-scroll data-fls-header-scroll-show class="header">
	<div class="header__container">
		<div class="header__body">
			<div class="header__inner">
				<div class="header__aside">
					<a href="#" data-fls-scrollto=".hero" class="header__logo"><img src="@img/logo.svg" alt="Logo"></a>
					<include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include>
				</div>
				<div class="header__actions">
					<a data-fls-popup-link="access-popup" data-fls-button data-fls-dynamic=".menu__button-ts, 767" href="#" class="header__button button"><span>Download the app</span></a>
					<button type="button" data-fls-menu class="header__icon icon-menu"><span></span></button>
				</div>
			</div>
			<div class="header__menu-ts"></div>
		</div>
	</div>
</header>