<section data-fls-force class="force">
	<div data-fls-watcher data-fls-watcher-once class="force__container">
		<div data-fls-headblock class="force__headblock headblock">
			<h2 class="headblock__title --title">Download the app and book your first drip</h2>
			<div class="headblock__description --description">
				<p>
					Sign up in minutes. Licensed professionals at your door today.
				</p>
			</div>
			<button data-fls-popup-link="download-popup" data-fls-button type="button" class="headblock__button button button--lg-blue">Download the app</button>
		</div>
		<div class="force__body">
			<div class="force__image force__image--01">
				<img src="@img/force/01-01.svg" alt="Image">
				<img src="@img/force/01-02.svg" alt="Image">
			</div>
			<img class="force__image force__image--03" src="@img/force/03.svg" alt="Image">
			<img class="force__image force__image--center" src="@img/force/center.png" alt="Image">
			<img class="force__image force__image--02" src="@img/force/02.svg" alt="Image">
			<img class="force__image force__image--04" src="@img/force/04.svg" alt="Image">
		</div>
	</div>
</section>