<div data-fls-dynamic=".header__menu-ts, 767" class="header__menu menu">
	<nav class="menu__body">
		<ul class="menu__list">
			<each loop='item in [
					{"href": "#","ancor": "How it works","scrollto": ".steps"},
					{"href": "#","ancor": "IV Drips","scrollto": ".case"},
					{"href": "#","ancor": "Reviews","scrollto": ".review"}
				]'>
				<if condition="'[[active]]' === '[[item.ancor]]'">
					<li class="menu__item">
						<a href="[[item.href]]" data-fls-scrollto="[[item.scrollto]]" class="menu__link menu__link--active">[[item.ancor]]</a>
					</li>
				</if>
				<else>
					<li class="menu__item">
						<a href="[[item.href]]" data-fls-scrollto="[[item.scrollto]]" class="menu__link">[[item.ancor]]</a>
					</li>
				</else>
			</each>
		</ul>
		<div class="menu__button-ts"></div>
	</nav>
</div>

<!-- 
<fetch url="@components/layout/menu/menu.json">
	<each loop='item in response'>
	</each>
</fetch>
-->