.menu {
	// .menu__body
	&__body {
		@media (width < toEm($mobile)) {
			[data-fls-menu-open] & {
			}
		}
	}
	// .menu__list
	&__list {
		gap: 4px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@media (width < toEm($mobile)) {
			gap: 6px;
			align-items: start;
			padding-block: 24px;
			flex-direction: column;
		}
	}
	// .menu__item
	&__item {
		display: flex;
	}
	// .menu__link
	&__link {
		display: flex;
		font-weight: 500;
		align-items: center;
		@media (width >= toEm($mobile)) {
			border-radius: 50px;
			padding: 13.5px 24px;
			transition: color 0.3s ease;
			html:not([data-fls-touch]) & {
				@media (any-hover: hover), (pointer: fine) {
					&:hover {
						color: var(--primary-color);
					}
				}
			}
		}
		@media (width < toEm($tablet)) {
			padding: 13.5px 18px;
		}
		@media (width < toEm($mobile)) {
			padding: 0;
			height: 50px;
			font-size: 20px;
		}
	}
	// .menu__button-ts
	&__button-ts {
		@media (width >= toEm($mobile)) {
			display: none;
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (width < toEm($mobile)) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			border-radius: 5px;
			background-color: #171717;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - 1px);
		}
		[data-fls-menu-open] & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}
