<footer data-fls-footer class="footer">
	<div class="footer__container">
		<div class="footer__site">
			<a href="#" data-fls-scrollto=".hero" class="footer__logo"><img src="@img/logo-white.svg" alt="Logo"></a>
			<span>© 2026 Vaura. All rights reserved.</span>
		</div>
		<ul class="footer__list">
			<li>
				<a href="#" data-fls-scrollto=".steps" class="footer__link">How it works</a>
			</li>
			<li>
				<a href="#" data-fls-scrollto=".case" class="footer__link">IV Drips</a>
			</li>
			<li>
				<a href="#" data-fls-scrollto=".review" class="footer__link">Reviews</a>
			</li>
		</ul>
		<ul class="footer__aside">
			<li>
				<a target="_blank" href="https://google.com" class="footer__aside-link">Privacy Policy</a>
			</li>
			<li>
				<a href="mailto:press@vaura.com" class="footer__aside-link">press@vaura.com</a>
			</li>
		</ul>
	</div>
</footer>